body {
    margin: 0px;
}

@font-face {
    font-family: logo-font;
    src: url('assets/font.otf');
}

.webpage {
    display: flex;
}

h1 {
    font-family: logo-font, sans-serif;
}

.sunbird {
    position: relative;
}

.logo, .title, .image-credit, .black-background {
    position: absolute;
}

.logo {
    top: 410px;
    left: 100px;
    z-index: 2;
}

.title {
    top: 420px;
    left: 200px;
    color: yellow;
    z-index: 2;
}

.black-background {
    top: 420px;
    background-color: black;
    width: 400px;
    height: 75px;
    opacity: 0.3;
    z-index: 1
}

.image-credit {
    top: 530px;
    left: 30px;
    color: yellow;
    font-style: italic;
}

a:visited {
    color: inherit;
}

.form {
    margin: 30px;
    position: relative;
}

.intro {
    font-weight: bold;
}

button {
    background-color: #fe6c7f;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    font-weight: bold;
}

input:focus {
    border-color: lightblue;
}
    /* don't forget box shadow/*