body {
    margin: 0px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

@font-face {
    font-family: logo-font;
    src: url('assets/font.otf');
}

.webpage {
    display: flex;
}

h1 {
    font-family: logo-font, sans-serif;
}

.left-hand-column {
    position: relative;
    width: 70%;
    height: 100vh;
    overflow: hidden;
}

.sunbird {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 10%;
    color: yellow;
    font-size: 4vw;
    margin-left: 10%;
    text-align: center;
    z-index: 2;
}

.image-background {
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    top: 10%;
    height: 15%;
    z-index: 1;
}

.image-credit {
    position: absolute;
    width: 100%;
    color: yellow;
    text-align: center;
    font-style: italic;
    bottom: 0;
    left: 0;
}

a:visited {
    color: inherit;
}

.right-hand-column {
    position: relative;
    align-self: center;
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.intro {
    font-weight: bold;
    font-size: 25px;
    padding: 10px 80px;
}

.input-section {
    background: white;
    position: relative;
    padding: 10px 80px;
}

.fields {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

button {
    background-color: #fe6c7f;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    font-weight: bold;
}

input:focus {
    border-color: lightblue;
    box-shadow: 5px 5px 10px grey;
}

#password:invalid {
    border-color: #fe6c7f;
}

section.account-section {
    margin-top: 16px;
    padding-left: 40px;
}

.log-in {
    font-weight: bold;
    color: #fe6c7f;
    text-decoration: none;
}