body {
    margin: 0px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

@font-face {
    font-family: logo-font;
    src: url('assets/font.otf');
}

.webpage {
    display: flex;
}

h1 {
    font-family: logo-font, sans-serif;
}

.sunbird {
    position: relative;
}

.logo, .title, .image-credit, .black-background {
    position: absolute;
}

.logo {
    top: 410px;
    left: 100px;
    z-index: 2;
}

.title {
    top: 420px;
    left: 200px;
    color: yellow;
    z-index: 2;
}

.black-background {
    top: 420px;
    background-color: black;
    width: 400px;
    height: 75px;
    opacity: 0.3;
    z-index: 1
}

.image-credit {
    top: 530px;
    left: 30px;
    color: yellow;
    font-style: italic;
}

a:visited {
    color: inherit;
}

.form {
    /*margin: 30px;*/
    position: relative;
}

form {
    display: flex;
    flex-flow: column wrap;
}

section.input-section {
    background-color: white;
}

.intro {
    font-weight: bold;
}

button {
    background-color: #fe6c7f;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid transparent;
}

input:focus {
    border-color: lightblue;
    box-shadow: 5px 5px 10px grey;
}

#password:invalid {
    border-color: #fe6c7f;
}

section.account-section {
    margin-top: 16px;
}

/* to-dos:
- get the whole bit on the right to match example image lol
- get the image to fill up the whole bit on the left
- change the color of 'log in'
}/*