body {
    margin: 0px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

@font-face {
    font-family: logo-font;
    src: url('assets/font.otf');
}

.webpage {
    display: flex;
    gap: 10px;
}

h1 {
    font-family: logo-font, sans-serif;
}

.left-hand-column {
    position: relative;
    width: 70%;
    height: 100vh;
    overflow: hidden;
}

.sunbird {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo, .title, .image-credit, .image-background, .input-background {
    position: absolute;
}

.logo {
    top: 8%;
    left: 20%;
    height: auto;
    width: 30%;
    z-index: 2;
}

.title {
    top: 10%;
    left: 40%;
    color: yellow;
    font-size: 4vw;
    margin-left: 10%;
    text-align: center;
    z-index: 2;
}

.image-background {
    width: 100%;
    background-color: black;
    opacity: 0.7;
    top: 10%;
    height: 15%;
    z-index: 1;
}

.image-credit {
    width: 100%;
    color: yellow;
    text-align: center;
    font-style: italic;
    bottom: 0;
    left: 0;
}

a:visited {
    color: inherit;
}

.right-hand-column {
    position: relative;
    align-self: center;
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.intro {
    font-weight: bold;
    font-size: 20px;
}

/*.input-background {
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    top: 25%;
    height: 55%;
    z-index: 2;
} */

.fields {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    position: relative;
    z-index: 3;
}

button {
    background-color: #fe6c7f;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    font-weight: bold;
}

input:focus {
    border-color: lightblue;
    box-shadow: 5px 5px 10px grey;
}

#password:invalid {
    border-color: #fe6c7f;
}

section.account-section {
    margin-top: 16px;
}

.log-in {
    font-weight: bold;
    color: #fe6c7f;
    text-decoration: none;
}

/* to-dos:
- gap between left and right
- get the white bit to extend horizontally
}/*